[Desktop Entry]
X-SnapInstanceName=outlook-e4u
Name=Outlook E4U
X-SnapAppName=outlook-e4u
Exec=outlook-e4u
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/outlook-e4u.png
StartupWMClass=outlook-e4u
Comment=Microsoft Outlook wrapper for ERP4U (E4U)
Categories=Network;Office;Email;
