[Desktop Entry]
X-SnapInstanceName=teams-klr
Name=Teams KLR
X-SnapAppName=teams-klr
Exec=teams-klr
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/teams-klr.png
StartupWMClass=teams-klr
Comment=Microsoft Teams wrapper for Kilurion (KLR)
Categories=Office;
